In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
BAN_MAE_list = []
DBN_MAE_list = []
pyment_MAE_list = []
ENIGMA_MAE_list = []
BAN_ME_list = []
DBN_ME_list = []
pyment_ME_list = []
ENIGMA_ME_list = []
BAN_ASTD_list = []
DBN_ASTD_list = []
pyment_ASTD_list = []
ENIGMA_ASTD_list = []
BAN_STD_list = []
DBN_STD_list = []
pyment_STD_list = []
ENIGMA_STD_list = []

In [3]:
BAN_UNSAM=pd.read_csv('./BrainAgeNeXt/BAN_UNSAM.csv')
BAN_ADNI=pd.read_csv('./BrainAgeNeXt/BAN_ADNI.csv')
BAN_RRIB=pd.read_csv('./BrainAgeNeXt/BAN_RRIB.csv')
BAN_JUK=pd.read_csv('./BrainAgeNeXt/BAN_JUK.csv')

DBN_UNSAM=pd.read_csv('./DeepBrainNet/DBN_UNSAM_BET.csv')
DBN_ADNI=pd.read_csv('./DeepBrainNet/DBN_ADNI_BET.csv')
DBN_RRIB=pd.read_csv('./DeepBrainNet/DBN_RRIB_BET.csv')
DBN_JUK=pd.read_csv('./DeepBrainNet/DBN_JUK_BET.csv')

pyment_UNSAM=pd.read_csv('./pyment/pyment_UNSAM.csv')
pyment_ADNI=pd.read_csv('./pyment/pyment_ADNI.csv')
pyment_RRIB=pd.read_csv('./pyment/pyment_RRIB.csv')
pyment_JUK=pd.read_csv('./pyment/pyment_JUK.csv')

ENIGMA_UNSAM=pd.read_csv('./ENIGMA/ENIGMA_UNSAM.csv')
ENIGMA_ADNI=pd.read_csv('./ENIGMA/ENIGMA_ADNI.csv')
ENIGMA_JUK= pd.read_csv('./ENIGMA/ENIGMA_JUK.csv')
ENIGMA_RRIB=pd.read_csv('./ENIGMA/ENIGMA_RRIB.csv')

In [4]:
ENIGMA_ADNI=ENIGMA_ADNI[ENIGMA_ADNI['Group']=='CN'] 
pyment_ADNI=pyment_ADNI[pyment_ADNI['Group']=='CN']
DBN_ADNI=DBN_ADNI[DBN_ADNI['Group']=='CN']
BAN_ADNI=BAN_ADNI[BAN_ADNI['Group']=='CN']

ENIGMA_UNSAM=ENIGMA_UNSAM[ENIGMA_UNSAM['Grupo']=='CONTROL']
pyment_UNSAM=pyment_UNSAM[pyment_UNSAM['Grupo']=='CONTROL']
DBN_UNSAM=DBN_UNSAM[DBN_UNSAM['Grupo']=='CONTROL']
BAN_UNSAM=BAN_UNSAM[BAN_UNSAM['Grupo']=='CONTROL']

In [5]:
pyment_UNSAM.shape

(45, 7)

In [6]:
# Sample 45 random subjects from each dataset
'''n_sample=45
BAN_UNSAM = BAN_UNSAM.sample(n=n_sample)
BAN_ADNI = BAN_ADNI.sample(n=n_sample)
BAN_RRIB = BAN_RRIB.sample(n=n_sample)
BAN_JUK = BAN_JUK.sample(n=n_sample)

DBN_UNSAM = DBN_UNSAM.sample(n=n_sample)
DBN_ADNI = DBN_ADNI.sample(n=n_sample)
DBN_RRIB = DBN_RRIB.sample(n=n_sample)
DBN_JUK = DBN_JUK.sample(n=n_sample)

pyment_UNSAM = pyment_UNSAM.sample(n=n_sample)
pyment_ADNI = pyment_ADNI.sample(n=n_sample)
pyment_RRIB = pyment_RRIB.sample(n=n_sample)
pyment_JUK = pyment_JUK.sample(n=n_sample)

ENIGMA_UNSAM = ENIGMA_UNSAM.sample(n=n_sample)
ENIGMA_ADNI = ENIGMA_ADNI.sample(n=n_sample)
ENIGMA_JUK = ENIGMA_JUK.sample(n=n_sample)
ENIGMA_RRIB = ENIGMA_RRIB.sample(n=n_sample)'''

'n_sample=45\nBAN_UNSAM = BAN_UNSAM.sample(n=n_sample)\nBAN_ADNI = BAN_ADNI.sample(n=n_sample)\nBAN_RRIB = BAN_RRIB.sample(n=n_sample)\nBAN_JUK = BAN_JUK.sample(n=n_sample)\n\nDBN_UNSAM = DBN_UNSAM.sample(n=n_sample)\nDBN_ADNI = DBN_ADNI.sample(n=n_sample)\nDBN_RRIB = DBN_RRIB.sample(n=n_sample)\nDBN_JUK = DBN_JUK.sample(n=n_sample)\n\npyment_UNSAM = pyment_UNSAM.sample(n=n_sample)\npyment_ADNI = pyment_ADNI.sample(n=n_sample)\npyment_RRIB = pyment_RRIB.sample(n=n_sample)\npyment_JUK = pyment_JUK.sample(n=n_sample)\n\nENIGMA_UNSAM = ENIGMA_UNSAM.sample(n=n_sample)\nENIGMA_ADNI = ENIGMA_ADNI.sample(n=n_sample)\nENIGMA_JUK = ENIGMA_JUK.sample(n=n_sample)\nENIGMA_RRIB = ENIGMA_RRIB.sample(n=n_sample)'

In [7]:
ENIGMA_UNSAM.rename(columns={'Absolute_Error': 'Absolute Error', 'Edad':'Age'}, inplace=True)
ENIGMA_UNSAM=ENIGMA_UNSAM[['ID','Absolute Error','Error','Age']]

ENIGMA_ADNI=ENIGMA_ADNI[['ID','Absolute Error','Error','Age']]

ENIGMA_JUK.rename(columns={'participant_id': 'ID', 'age':'Age'}, inplace=True)
ENIGMA_JUK=ENIGMA_JUK[['ID','Absolute Error','Error','Age']]
ENIGMA_JUK['ID']='JUK_' + ENIGMA_JUK['ID']

ENIGMA_RRIB.rename(columns={'participant_id': 'ID', 'age':'Age'}, inplace=True)
ENIGMA_RRIB=ENIGMA_RRIB[['ID','Absolute Error','Error','Age']]

concat_ENIGMA = pd.concat([ENIGMA_UNSAM, ENIGMA_ADNI, ENIGMA_JUK, ENIGMA_RRIB], ignore_index=True)

In [8]:
DBN_UNSAM.rename(columns={'Edad': 'Age'}, inplace=True)
DBN_UNSAM=DBN_UNSAM[['ID','Absolute_Error','Error','Age']]

DBN_ADNI.rename(columns={'Absolute_error': 'Absolute_Error'}, inplace=True)
DBN_ADNI=DBN_ADNI[['ID','Absolute_Error','Error','Age']]

DBN_JUK.rename(columns={'participant_id': 'ID','age':'Age'}, inplace=True)
DBN_JUK.rename(columns={'Absolute_error': 'Absolute_Error'}, inplace=True)
DBN_JUK=DBN_JUK[['ID','Absolute_Error','Error','Age']]
DBN_JUK['ID']='JUK_' + DBN_JUK['ID']

DBN_RRIB.rename(columns={'participant_id': 'ID'}, inplace=True)
DBN_RRIB.rename(columns={'Absolute_error': 'Absolute_Error','age':'Age'}, inplace=True)
DBN_RRIB=DBN_RRIB[['ID','Absolute_Error','Error','Age']]

concat_DBN = pd.concat([DBN_UNSAM, DBN_ADNI, DBN_JUK, DBN_RRIB], ignore_index=True)

In [9]:
pyment_UNSAM.rename(columns={'Edad':'Age'},inplace=True)
pyment_UNSAM=pyment_UNSAM[['ID','Absolute_Error','Error','Age']]

pyment_ADNI=pyment_ADNI[['ID','Absolute_Error','Error','Age']]

pyment_JUK.rename(columns={'participant_id': 'ID','age':'Age'}, inplace=True)
pyment_JUK=pyment_JUK[['ID','Absolute_Error','Error','Age']]
pyment_JUK['ID']='JUK_' + pyment_JUK['ID']

pyment_RRIB.rename(columns={'participant_id': 'ID','age':'Age'}, inplace=True)
pyment_RRIB=pyment_RRIB[['ID','Absolute_Error','Error','Age']]

concat_pyment = pd.concat([pyment_UNSAM, pyment_ADNI, pyment_JUK, pyment_RRIB], ignore_index=True)

In [10]:
BAN_UNSAM.rename(columns={'Edad':'Age'}, inplace=True)
BAN_UNSAM=BAN_UNSAM[['ID','Absolute_Error','Error','Age']]

BAN_ADNI=BAN_ADNI[['ID','Absolute_Error','Error','Age']]

BAN_RRIB.rename(columns={'participant_id': 'ID','age':'Age'}, inplace=True)
BAN_RRIB=BAN_RRIB[['ID','Absolute_Error','Error','Age']]
BAN_RRIB['ID']='RRIB_' + BAN_RRIB['ID']

BAN_JUK.rename(columns={'participant_id': 'ID','age':'Age'}, inplace=True)
BAN_JUK=BAN_JUK[['ID','Absolute_Error','Error','Age']]

concat_BAN = pd.concat([BAN_UNSAM, BAN_ADNI, BAN_JUK, BAN_RRIB], ignore_index=True)

In [11]:
# Mean error for every age bin and model
bins = [20, 30, 40, 50, 60, 70, 80, 90]
labels = ['20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89']

# create a new column 'Age_bin' in each dataframe
concat_BAN['Age_bin'] = pd.cut(concat_BAN['Age'], bins=bins, labels=labels, right=False)
concat_DBN['Age_bin'] = pd.cut(concat_DBN['Age'], bins=bins, labels=labels, right=False)
concat_pyment['Age_bin'] = pd.cut(concat_pyment['Age'], bins=bins, labels=labels, right=False)
concat_ENIGMA['Age_bin'] = pd.cut(concat_ENIGMA['Age'], bins=bins, labels=labels, right=False)

In [12]:
mean_error_by_bin_BAN = concat_BAN.groupby('Age_bin')['Error'].mean()
mean_error_by_bin_DBN = concat_DBN.groupby('Age_bin')['Error'].mean()
mean_error_by_bin_pyment = concat_pyment.groupby('Age_bin')['Error'].mean()
mean_error_by_bin_ENIGMA = concat_ENIGMA.groupby('Age_bin')['Error'].mean()

C:\Users\parri\AppData\Local\Temp\ipykernel_31704\3158249565.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_error_by_bin_BAN = concat_BAN.groupby('Age_bin')['Error'].mean()
C:\Users\parri\AppData\Local\Temp\ipykernel_31704\3158249565.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_error_by_bin_DBN = concat_DBN.groupby('Age_bin')['Error'].mean()
C:\Users\parri\AppData\Local\Temp\ipykernel_31704\3158249565.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_error_by_bin_pyment = concat_pyment.groupby('Age_bin')['Error'].mean()
C:\Users\parri\AppData\Local\Temp\ipykernel_31704\3158249565.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_error_by_bin_ENIGMA = concat_ENIGMA.groupby('Age_bin')['Error'].mean()

In [19]:
mean_error_by_bin_BAN

Age_bin
20-29   -1.392709
30-39   -2.611052
40-49   -2.051471
50-59   -1.749398
60-69   -0.760708
70-79   -1.932584
80-89   -4.375669
Name: Error, dtype: float64

In [15]:
concat_BAN

               ID  Absolute_Error     Error  Age Age_bin
0          CP0200        6.829524 -6.829524   64   60-69
1          CP0001        4.826216 -4.826216   34   30-39
2          CP0002        7.924241  7.924241   50   50-59
3          CP0003        9.072777  9.072777   53   50-59
4          CP0006        1.822819 -1.822819   39   30-39
..            ...             ...       ...  ...     ...
906  RRIB_sub-152        1.383579 -1.383579   24   20-29
907  RRIB_sub-154        8.613434 -8.613434   38   30-39
908  RRIB_sub-155        0.195864  0.195864   43   40-49
909  RRIB_sub-157        1.002329  1.002329   30   30-39
910  RRIB_sub-158        8.577890 -8.577890   31   30-39

[911 rows x 5 columns]